<div class="eqLogic-widget" style="background-color: #background_color#; width:950px" data-eqLogic_id="#id#" data-version="dashboard">
	<center><strong><a href="#eqLink#" style="font-size : 1.3em;"> #name#  </a></strong></center>
	<br/>
	<div style="text-align:center;">
		<center>
		#commandes#
		<!--<table style="width:100%; text-align:center;">
		<thead>
			<th style="text-align:center; width:4%px;"><small>Alimentation</small></th>
			<th style="text-align:center; width:18%px;"><small>Son</small></th>
			<th style="text-align:center; width:21%px;"><small>Sources</small></th>
			<th style="text-align:center; width:4%px;"><small>Mode nuit</small></th>
			<th style="text-align:center; width:4%px;"><small>Mode cinema</small></th>
			<th style="text-align:center; width:4%px;"><small>Dimmer</small></th>
			<th style="text-align:center; width:9%px;"><small>Ambiances</small></th>
			<th style="text-align:center; width:18%px;"><small>Veille</small></th>
			<th style="text-align:center; width:18%px;"><small>Navigation</small></th>
		</thead>
		<tbody>
			<tr>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_on#"><span class="action"><img src="plugins/onkyo/core/template/ressources/on.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_mute#"><span class="action"><img src="plugins/onkyo/core/template/ressources/mute.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_unmute#"><span class="action"><img src="plugins/onkyo/core/template/ressources/unmute.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_vcrdvr#"><span class="action"><img src="plugins/onkyo/core/template/ressources/vcrdvr.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_cblsat#"><span class="action"><img src="plugins/onkyo/core/template/ressources/cblsat.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_game#"><span class="action"><img src="plugins/onkyo/core/template/ressources/game.png" style="width:50px; height:50px;"></span></span>
					
				</td>			
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_latenightoff#"><span class="action"><img src="plugins/onkyo/core/template/ressources/latenightoff.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_cinemaoff#"><span class="action"><img src="plugins/onkyo/core/template/ressources/cinemaoff.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_dimmeroff#"><span class="action"><img src="plugins/onkyo/core/template/ressources/dimmeroff.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>	
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_dolbyex2#"><span class="action"><img src="plugins/onkyo/core/template/ressources/dolbyex2.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_dolbytruehd#"><span class="action"><img src="plugins/onkyo/core/template/ressources/dolbytruehd.png" style="width:50px; height:50px;"></span></span>
				</td>	
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_sleepoff#"><span class="action"><img src="plugins/onkyo/core/template/ressources/sleepoff.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_sleep05#"><span class="action"><img src="plugins/onkyo/core/template/ressources/sleep05.png" style="width:50px; height:50px;"></span></span>
				</td>	
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_keyhome#"><span class="action"><img src="plugins/onkyo/core/template/ressources/keyhome.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_keymenu#"><span class="action"><img src="plugins/onkyo/core/template/ressources/keymenu.png" style="width:50px; height:50px;"></span></span>
				</td>					
			</tr>
			<tr>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_off#"><span class="action"><img src="plugins/onkyo/core/template/ressources/off.png" style="width:50px; height:50px;"></i></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_volumedown#"><span class="action"><img src="plugins/onkyo/core/template/ressources/volumedown.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_volumeup#"><span class="action"><img src="plugins/onkyo/core/template/ressources/volumeup.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_aux#"><span class="action"><img src="plugins/onkyo/core/template/ressources/auxi.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_aux2#"><span class="action"><img src="plugins/onkyo/core/template/ressources/aux2.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_pc#"><span class="action"><img src="plugins/onkyo/core/template/ressources/pc.png" style="width:50px; height:50px;"></span></span>
								
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_latenightlow#"><span class="action"><img src="plugins/onkyo/core/template/ressources/latenightlow.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_cinemalow#"><span class="action"><img src="plugins/onkyo/core/template/ressources/cinemalow.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_dimmerbright#"><span class="action"><img src="plugins/onkyo/core/template/ressources/dimmerbright.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_dolbyprologic2#"><span class="action"><img src="plugins/onkyo/core/template/ressources/dolbyprologic2.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_dolbyprologic2x"><span class="action"><img src="plugins/onkyo/core/template/ressources/dolbyprologic2x.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_sleep15#"><span class="action"><img src="plugins/onkyo/core/template/ressources/sleep15.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_sleep30#"><span class="action"><img src="plugins/onkyo/core/template/ressources/sleep30.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_keyup#"><span class="action"><img src="plugins/onkyo/core/template/ressources/keyup.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_keydown#"><span class="action"><img src="plugins/onkyo/core/template/ressources/keydown.png" style="width:50px; height:50px;"></span></span>
				</td>			
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_bddvd#"><span class="action"><img src="plugins/onkyo/core/template/ressources/bddvd.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_phono#"><span class="action"><img src="plugins/onkyo/core/template/ressources/phono.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_bluetooth#"><span class="action"><img src="plugins/onkyo/core/template/ressources/bluetooth.png" style="width:50px; height:50px;"></span></span>
				</td>	
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_latenighthigh#"><span class="action"><img src="plugins/onkyo/core/template/ressources/latenighthigh.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_cinemahigh#"><span class="action"><img src="plugins/onkyo/core/template/ressources/cinemahigh.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_dimmerdark#"><span class="action"><img src="plugins/onkyo/core/template/ressources/dimmerdark.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_dolbydigital#"><span class="action"><img src="plugins/onkyo/core/template/ressources/dolbydigital.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_dtsneo6#"><span class="action"><img src="plugins/onkyo/core/template/ressources/dtsneo6.png" style="width:50px; height:50px;"></span></span>
					
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_sleep45#"><span class="action"><img src="plugins/onkyo/core/template/ressources/sleep45.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_sleep60#"><span class="action"><img src="plugins/onkyo/core/template/ressources/sleep60.png" style="width:50px; height:50px;"></span></span>
				</td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_keyleft#"><span class="action"><img src="plugins/onkyo/core/template/ressources/keyleft.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_keyright#"><span class="action"><img src="plugins/onkyo/core/template/ressources/keyright.png" style="width:50px; height:50px;"></span></span>
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_am#"><span class="action"><img src="plugins/onkyo/core/template/ressources/am.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_fm#"><span class="action"><img src="plugins/onkyo/core/template/ressources/fm.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_usbfront#"><span class="action"><img src="plugins/onkyo/core/template/ressources/usbfront.png" style="width:50px; height:50px;"></span></span>
				
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_keyenter#"><span class="action"><img src="plugins/onkyo/core/template/ressources/keyenter.png" style="width:50px; height:50px;"></span></span>
					<span class="cursor cmd tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id_keyexit#"><span class="action"><img src="plugins/onkyo/core/template/ressources/keyexit.png" style="width:50px; height:50px;"></span></span>
				</td>
			</tr>
		</tbody>
		</table>-->
		</center>
	</div>
</div>

	<!--<br/>
	<div class="row">
		<div class="col-md-1"><p style="font-size: 2em;text-align: center;font-weight:bold;">&nbsp;&nbsp;<i class="jeedom-thermo-moyen"></i></p></div><div class="col-md-3"><p class="pull-left" style="font-size: 1em;font-weight:bold;">&nbsp;#temperature# °C</p></div>
    	<div class="col-md-1"><p style="font-size: 1.2em;text-align: center;font-weight:bold;"><i class="techno-low2"></i></p></div><div class="col-md-7"><p class="pull-left" style="font-size: 1em;font-weight:bold;">&nbsp;#charge# % (#charging_state#)</p></div>
	</div>-->

<script>
$('.cmd[data-cmd_id=#id_on#] .action').on('click', function() {
	jeedom.cmd.execute({id: '#id_on#'});
});
$('.cmd[data-cmd_id=#id_off#] .action').on('click', function() {
	jeedom.cmd.execute({id: '#id_off#'});
});
$('.cmd[data-cmd_id=#id_mute#] .action').on('click', function() {
	jeedom.cmd.execute({id: '#id_mute#'});
});
$('.cmd[data-cmd_id=#id_unmute#] .action').on('click', function() {
	jeedom.cmd.execute({id: '#id_unmute#'});
});
$('.cmd[data-cmd_id=#id_volup#] .action').on('click', function() {
	jeedom.cmd.execute({id: '#id_volup#'});
});
$('.cmd[data-cmd_id=#id_voldown#] .action').on('click', function() {
	jeedom.cmd.execute({id: '#id_voldown#'});
});
$('.cmd[data-cmd_id=#latenightoff#] .action').on('click', function() {
	jeedom.cmd.execute({id: '#latenighthigh#'});
});
$('.cmd[data-cmd_id=#latenightoff#] .action').on('click', function() {
	jeedom.cmd.execute({id: '#id_latenighthigh#'});
});
$('.cmd[data-cmd_id=#latenightoff#] .action').on('click', function() {
	jeedom.cmd.execute({id: '#in_latenighthigh#'});
});
   </script>